.galleryIntro {
  background-color: white;
  width: 50%;
  height: 85%;
  position: absolute;
  top: 7.5%;
  padding: 5vh;
  font-family: "Playfair Display", serif;
  border: 0.5vh solid black;
}

.galleryIntro h4 {
  font-size: 175%;
  font-weight: 600;
  margin-bottom: 1em;
}

.galleryIntro p {
  margin-bottom: 1em;
  line-height: 1.75;
}
