.planetLock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: hsl(0, 0%, 10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  position: absolute;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: transform 2.5s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.4, 1.5);
}

.ring1 {
  width: 85%;
  background-color: hsl(0, 0%, 15%);
}

.ring2 {
  width: 70%;
  background-color: green;
  background-color: hsl(0, 0%, 20%);
}

.ring3 {
  width: 55%;
  background-color: yellow;
  background-color: hsl(0, 0%, 25%);
}

.ring4 {
  width: 40%;
  background-color: magenta;
  background-color: hsl(0, 0%, 30%);
}

.ring5 {
  width: 25%;
  background-color: purple;
  background-color: hsl(0, 0%, 35%);
}

.ring6 {
  width: 13%;
  border: 0.3vh solid hsla(0, 0%, 0%, 0.5);
}

.rectangle {
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 40%;
  border: 0.85vh solid black;
  height: 10%;
  transform: translateY(-50%);
  pointer-events: none;
}

.ring .gem {
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 0.2vh solid hsla(0, 0%, 0%, 0.5);
  pointer-events: none;
}

.ring .gem1 {
  top: 0.75vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
}

.ring .gem2 {
  top: 50%;
  right: 0.75vh;
  transform: translateY(-50%);
  background-color: green;
}

.ring .gem3 {
  bottom: 0.75vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
}

.ring .gem4 {
  top: 50%;
  left: 0.75vh;
  transform: translateY(-50%);
  background-color: yellow;
}
