.planetLock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: hsl(235, 100%, 10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planetLock.small {
  transform: translate(-50%, -45%) scale(0.35) translateX(100%);
  transform-origin: center;
}

.ring {
  position: absolute;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: transform 2.5s;
  /* transition-timing-function: cubic-bezier(0.46, -0.45, 0.35, 1); */
}

.ring1 {
  width: 85%;
  background-color: hsl(235, 90%, 15%);
  transition-duration: 0.5s;
}

.ring2 {
  width: 70%;
  background-color: hsl(235, 80%, 20%);
  transition-duration: 0.6s;
}

.ring3 {
  width: 55%;
  background-color: hsl(235, 70%, 25%);
  transition-duration: 0.7s;
}

.ring4 {
  width: 40%;
  background-color: hsl(235, 60%, 30%);
  transition-duration: 0.8s;
}

.ring5 {
  width: 25%;
  background-color: hsl(235, 50%, 35%);
}

.ring6 {
  width: 13%;
  border: 0.3vh solid hsla(0, 0%, 0%, 0.5);
}

.rectangle {
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 40%;
  border: 0.85vh solid black;
  height: 10%;
  transform: translateY(-50%);
  pointer-events: none;
}

.ring .gem {
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 0.2vh solid hsla(0, 0%, 0%, 0.5);
  pointer-events: none;
}

.ring .gem1 {
  top: 50%;
  right: 0.75vh;
  transform: translateY(-50%);
}

.ring .gem2 {
  bottom: 15%;
  right: 15%;
}

.ring .gem3 {
  left: 50%;
  bottom: 0.75vh;
  transform: translateX(-50%);
}

.ring .gem4 {
  bottom: 15%;
  left: 15%;
}

.ring .gem5 {
  top: 50%;
  left: 0.75vh;
  transform: translateY(-50%);
}

.ring .gem6 {
  top: 15%;
  left: 15%;
}

.ring .gem7 {
  top: 0.75vh;
  left: 50%;
  transform: translateX(-50%);
}

.ring .gem8 {
  top: 15%;
  right: 15%;
}
