.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 20%);
}

.game {
  height: 90%;
  aspect-ratio: 1 / 1;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}
