.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 20%);
}

.game {
  height: 90%;
  aspect-ratio: 1 / 1;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.message {
  height: 12.5%;
  border: 1px solid black;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}

.gameCanvas {
  height: 75%;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.inventory {
  height: 12.5%;
  border: 1px solid black;
  background-color: lightcoral;
}

.scene {
  width: 100%;
  height: 100%;
  position: relative;
}

.ceiling {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #a05a2c;
  box-shadow: 0 2vmax 2vmax 1vmax hsla(0, 0%, 0%, 0.1) inset;
}

.wall {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 10%;
  background-color: #ac7753;
  box-shadow: 0 3vmax 2vmax 1vmax hsla(0, 0%, 0%, 0.1) inset;
}

.wallFull {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ac7753;
  box-shadow: 0 3vmax 2vmax 1vmax hsla(0, 0%, 0%, 0.1) inset;
}

.floor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #a05a2c;
  box-shadow: 0 -2vmax 2vmax 1vmax hsla(0, 0%, 0%, 0.1) inset;
}

.gameObject {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* 
.inventory {
  height: 5%;
  background-color: red;
  width: 100%;
} */
